[submodule "Backend/Data/sc1-data-format"]
	path = Backend/Data/sc1-data-format
	url = git@github.com:badgerloop-software/sc1-data-format.git
	branch = main
[submodule "Backend/file_sync"]
	path = Backend/file_sync
	url = git@github.com:badgerloop-software/file_sync
[submodule "Frontend/src/Components/CarVisualizer"]
	path = Frontend/src/Components/CarVisualizer
	url = git@github.com:badgerloop-software/car-visualizer.git
